<title>My application</title>
  <h1>Hello, World!</h1>
    Birinci ve ikinci kutucuğa istediğiniz gibi bir String ArrayList'i giriniz.<br>
    Son kutucuğa integer ArrayList'i giriniz.<br>
    İlk ve ikinci kutucuktaki o indexlerdeki Stringleri karşılaştırıp sonucunu yazıyor.<br><br>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
<textarea name="input3" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>

